{% extends "info/base.html" %}

{% block title %}VM System Information{% endblock %}

{% block header %}VM Information{% endblock %}

{% block content %}
<div class="info-container">
    <div class="info-item">
        <div class="info-label">Hostname:</div>
        <div class="info-value">{{ hostname }}</div>
    </div>
    
    <div class="info-item">
        <div class="info-label">IP Address:</div>
        <div class="info-value">{{ ip_address }}</div>
    </div>
    
    <div class="info-item git-commit">
        <div class="info-label">Git Commit:</div>
        <div class="info-value">{{ git_commit }}</div>
    </div>
    
    <div class="info-item git-message">
        <div class="info-label">Commit Message:</div>
        <div class="info-value">{{ git_message }}</div>
    </div>
</div>
{% endblock %} 