# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyo
*.pyc
.pytest_cache/
.coverage
htmlcov/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual Environment
webvenv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Git
.git/
.gitignore 