version: '3'

services:
  web:
    build:
      context: .
      args:
        GIT_COMMIT_HASH: "Unknown"
        GIT_COMMIT_MESSAGE: "Unknown"
    restart: always
    ports:
      - "{{ app_port }}:8000"
    environment:
      - DEBUG=False
      - ALLOWED_HOSTS=localhost,127.0.0.1,{{ inventory_hostname }},192.168.123.*
      - SERVER_ID={{ inventory_hostname }}
    command: gunicorn --bind 0.0.0.0:8000 web_app.wsgi:application
    volumes:
      - ./static:/app/static 